/* font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
    background-color: #E5E5E5;
    padding: 100px;
}

.header-container {
    width: 100%;
    max-width: 1290px;
	margin: 0 auto;
}

.header-menu {
    display: flex;
    flex-direction: column;
}
