@media (max-width: 1340px) {
    .header {
        padding: 0 100px;
    }

    .nav__list {
        column-gap: 37px;
    }

    .header-menu__dropdown {
        left: 50%;
	    transform: translate(-50%, 0);
    }

    .header-menu__dropdown:before {
        left: 49%;
    }

    .promotion-banner {
        height: 553px;
    }

    .sale-block {
        flex-wrap: wrap;
        column-gap: 12px;
        row-gap: 12px;
        background-color: transparent;
        margin-top: 0px;
        filter: none;
    }

    .middle-banner {
        min-height: 320px;
    }

    .middle-banner__inner {
        margin-top: 25px;
    }

    .middle-banner__item {
        display: none;
    }

    .sale-block__item {
        width: auto;
    }

    .featured-products-row {
        justify-content: space-between;
    }

    .featured-products-col-middle {
        margin-left: 0px;
    }

    .featured-products-col-last {
        margin-left: 0px;
    }

    .services {
        justify-content: center;
        margin-left: 0px;
    }

    .services__description__refund {
        margin-left: 0px;
    }

    .services__description__support {
        margin-left: 0px;
    }

    .services__description {
        column-gap: 103px;
        flex-wrap: wrap;
    }

    .latest-news-row {
        justify-content: space-around;
    }

    .latest-news-col {
        flex-direction: column;
        align-items: start;
    }

    .latest-news-col__details {
        padding-top: 30px;
    }

    .latest-news-col__log-nike {
        padding: 20px 35px 14px 34px;
    }

    .footer-container {
        padding: 0 100px;
        display: flex;
        flex-direction: column;
    }

    .footer-upper__about {
        display: flex;
        justify-content: space-between;
    }

    .footer-upper__logo {
        padding-right: 0px;
    }

    .footer-upper__networks {
        padding-right: 0px;
    }

    .footer-middle__navigation {
        padding-right: 0px;
        justify-content: space-between;
    }
}

@media (max-width: 960px) {
    .nav-button {
        display: block;
    }

    .nav__list {
        display: none;
    }

    .nav.open .nav__list {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        z-index: 30;
        padding: 46px 30px;

        display: flex;
        flex-direction: column;
        row-gap: 40px;

        font-size: 34px;
        font-weight: 500;
    }

    .nav-button {
        position: fixed;
        top: 24px;
        right: 20px;
        z-index: 35;
    }

    .promotion-banner {
        height: 453px;
    }

    .promotion-banner__heading {
        width: 373px;
        top: 2%;
        font-weight: 500;
        font-size: 41px;
        line-height: 51px;
        left: 57px;
    }

    .header-menu__bottom {
        justify-content: center;
    }

    .products-section {
        margin-top: 42px;
    }

    .featured-products-row {
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
        margin-top: 23px;
    }

    .products__search-form {
        justify-content: center;
        margin-top: 35px;
        padding-right: 0px;
    }

    .products__search-form input {
        min-width: 250px;
        border-radius: 40px 0px 0px 40px;
        height: 50px;
    }

    .products__btn-search {
        width: 85px;
        border-radius: 0px 40px 40px 0px;
        height: 50px;
    }

    .footer-container {
        padding: 20px 40px;
        row-gap: 30px;
    }

    .footer-upper__about {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 30px;
    }

    .footer-middle__navigation {
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 30px;
    }

    .footer-upper__logo {
        padding-top: 0;
    }

    .footer-upper__networks {
        padding-top: 0;
    }

    .footer-upper__address {
        padding-top: 0;
    }

    .footer-middle {
        padding-top: 0;
        padding-bottom: 50px;
    }

    .footer-bottom {
        padding-top: 30px;
    }
    
    .footer-middle:after {
        top: 90%;
    }
}

@media (max-width: 936px) {
    .container {
        width: 78%;
    }

    .news-container {
        display: none;
    }
}

@media (max-width: 804px) {
    .container {
        width: 90%;
    }

    
}

@media (max-width: 709px) {
    .menu-top {
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
    }
    .header-menu__tools {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .promotion-banner {
        height: 353px;
    }

    .items {
        display: none;
    }
    .total-amount {
        display: none;
    }

    .header-menu__bottom {
        min-height: 67px;
    }

    .title {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .container {
        width: 44%;
    }

    .tab-controls {
        font-size: 19px;
    }

    .middle-banner__inner {
        margin-left: 40px;
    }

    .middle-banner__heading {
        width: 363px;
        font-size: 41px;
        line-height: 44px;
    }

    .middle-banner__descript {
        width: 343px;
        font-size: 18px;
    }

    .middle-banner__shop-link {
        font-size: 15px;
    }

    .services__description {
        row-gap: 20px;
        justify-content: center;
    }

    .footer-bottom__copyright {
        justify-content: center;
    }

    .footer-bottom__payments {
        display: none;
    }

    .footer-middle:after {
        top: 94%;
    }
}

@media (max-width: 600px) {
    container {
        width: 58%;
    }
} 

@media (max-width: 474px) {
    .header {
        padding: 0;
    }
    .menu-top {
        padding-left: 49px;
        padding-bottom: 0;
        flex-direction: row;
    }

    .menu-top__language {
        display: none;
    }

    .header-menu__bottom {
        padding-left: 21px;
        justify-content: flex-start;
    }
    .header-menu__tools {
        position: relative;
        top: 48px;
        column-gap: 9px;
    }

    .products-section {
        padding: 0px 15px;
    }

    .products__btn-search {
        font-weight: 500;
        font-size: 19px;
        line-height: 4px;
        padding: 0 6px;
    }

    .website-search {
        display: none;
    }

    .header-menu__logo {
        position: relative;
        bottom: 47px;
    }

    .my-profile {
        font-size: 15px;
    }

    .menu-top:after {
        display: none;
    }

    .sale-container {
        display: none;
    }

    .container {
        width: 76%;
    }

    .tabs-container {
        margin-top: 20px;
    }

    .tab-controls {
        font-size: 16px;
    }

    .tab__load-more-link {
        margin-top: 13px;
    }

    .row_mrgin {
        margin-bottom: 0px;
    }

    .tab__load-more {
        font-size: 16px;
        line-height: 18px;
    }

    .middle-banner {
        min-height: 134px;
        width: auto;
        margin-top: 26px;
    }
    .middle-banner__inner {
        margin-left: 13px;
    }

    .promotion-banner {
        height: 167px;
        margin-top: 0px;
    }

    .promotion-banner__heading {
        width: 222px;
        top: 10%;
        font-size: 31px;
        line-height: 34px;
        left: 85px;
    }
    .middle-banner__heading {
        font-size: 17px;
        line-height: 15px;
    }

    .middle-banner__descript {
        width: 250px;
        font-size: 12px;
        line-height: 17px;
        padding-top: 8px;
    }

    .middle-banner__shop-link {
        text-align: center;
    }

    .middle-banner__shop-link:after {
        top: 38px;
        left: 143px;
    }

    .services-container {
        margin-top: 35px;
    }

    .services__description-style h3 {
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
    }
    .services__description-style p {
        font-size: 12px;
        line-height: 17px;
    }

    .services__description__shipping-img {
        margin-bottom: 12px;
    }
    .services__description__refund-img {
        margin-bottom: 12px;
    }
    .services__description__support-img {
        margin-bottom: 12px;
    }

    .footer-container {
        margin-top: 50px;
    }
}

@media (max-width: 411px) {
    container {
        width: 78%;
    }
}